body {
    padding: 50px;
    background-color: $color-first;
    color: $color-word;
    text-align: center;
  }

  img{
    padding-bottom: 8vh;
  }

  a {
    color: $color-word;
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }