<form action="/event/edit?eventId={{event.id}}" method="post">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{event.title}}">

  <div><label for="">Description:</label></div>
  </div><textarea type="text" rows="10" cols="40" name="description" value="{{event.description}}"></textarea></div>

  <div><button type="submit">Edit</button></div>
  <div class="map"></div>
</form>