<form action="/event/add" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label>Address</label>
  <input type="text" name="latitude" placeholder="latitude">
  <input type="text" name="longitude" placeholder="longitude">

  <label for="">Description:</label>
  <textarea type="text" name="description" rows="10" cols="60" style="display: block"> </textarea>

  <button type="submit">ADD</button>
</form>