<!-- views/index.hbs -->
<div class="container">
<p> Welcome to {{ title }}. </p>

{{#if isUserLoggedIn }}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}
</div>
<div class="container">
<nav>
  <ul>
    {{#if isUserLoggedIn }}
     {{!-- <img src="{{this.imgPath}}" alt=""> --}}
      <li> <a href="/member"> Find a Member </a> </li>
      <li> <a href="/Events"> Events </a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>
</div>
